body{
    background-color: #f2f2f2;
}

textarea {
    resize: none;
}

#addIcon{
    font-size: 4.25rem;
}

#logoutIcon{
    font-size: 30px;
}

#delete{
    font-size: 1.75rem;
}

.form-background {
    background-image: url(../images/start/img_welcome.png);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 727px;
}

.form-text{
    color:#dc3545;
}

.card-start {
    opacity: 96%;
}

.card-action {
    min-height: 170px;
    max-height: 170px;
}

.card-login, .card-pwd {
    min-height: 409px;
}

.card-registration {
    min-height: 631px;
}

.card-article {
    min-height: 560px;
}

.card-report {
    min-height: 364px;
}

.card-footer-custom {
    background-color: #fff;
    border-top: 0;
}

.modal-body{
    min-height: 240px!important;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
}

.wrapper{
    display: none;
}

.shadow-footer {
    box-shadow: 0 -0.5rem 1rem rgba(0,0,0,.15)!important;
}