body{
    background-color: #f2f2f2;
}

textarea {
    resize: none;
}

h5{
    font-size: 1.15rem;
}

h2{
    font-size: 1.35rem;
    margin-bottom: 0;
}

table thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1
}

.w-98{
    width: 98%!important;
}

.date-check{
    transition: all .1s ease-in-out;
    background-color: transparent;
}
.date-check:hover { 
    overflow: hidden;
    transform: scale(1.0125);
 }

 .date-check.tr:hover {
background-color: transparent;
}
.date-check.th:hover {
    background-color: transparent;
    }

.grow-icons { transition: all .05s ease-in-out; }
.grow-icons:hover { 
    transform: scale(1.175);
    color: #0d6efd!important;
 }

.grow-cards { transition: all .05s ease-in-out; }
.grow-cards:hover { 
    transform: scale(1.0275);
    color: #0d6efd!important;
 }

.grow-content-cards { transition: all .05s ease-in-out; }
.grow-content-cards:hover { 
    transform: scale(1.0275);
 }

.bg-transparent:focus+.btn, .btn:focus {
    outline: 0!important;
    box-shadow: none!important;
}

.material-icons.md1::before{
    content:"delete_outline"; 

}
.material-icons.md1:hover::before{
    content:"delete_forever";
}

.col-placeholder {
    display: none;
}

.card-action-hover:hover{
    color: #0d6efd;
}

.form-background {
    background-image: url(../images/start/img_welcome.png);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 727px;
}

.form-text{
    color:#dc3545;
}

.card-title{
    margin-bottom: 0;
}

.card-start {
    opacity: 96%;
}

.card-action {
    min-height: 170px;
    max-height: 170px;
}

.card-login, .card-pwd {
    min-height: 409px;
}

.card-registration {
    min-height: 631px;
}

.card-article {
    min-height: 560px;
}

.card-report {
    min-height: 364px;
}

.card-footer-custom {
    background-color: #fff;
    border-top: 0;
}

.bg-transparent {
    background-color: transparent;
}

.modal-body{
    min-height: 240px!important;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.wrapper{
    display: none;
}

.f-22-icons {
    font-size: 22px;
}

.shadow-footer {
    box-shadow: 0 -0.5rem 1rem rgba(0,0,0,.15)!important;
}

.table>:not(:first-child) {
    border-top: 0!important;
}

.dropdown-item:hover{
    background-color: #0d6efd!important;
    color: #fff;
}

#delete-icon{
    transition: transform 0.125s;
    font-size: 28px;
 }
   
 #delete-icon:hover {
    transform: scale(1.175);
 }

#addIcon{
    font-size: 4.25rem;
}

#profileIcon{
    font-size: 30px;
    color: #fff;
}

#profileIcon:hover{
    opacity: 80%;
}

#delete{
    font-size: 1.75rem;
}
#table-container{
    min-height: 120px!important;
    overflow-y: scroll;
}

#settings-icon{
    transition: transform 0.5s;
 }
   
 #settings-icon:hover {
   color: #0d6efd!important;
   transform: rotate(120deg);
 }

@media (min-width: 320px) { 
    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: -141px;
        margin-top: 0.125rem;
    }
}

@media (min-width: 576px) { 
    #date-input-container{
        width: 100%!important;
    }
 }

@media (min-width: 768px) {

    #date-input-container,
    .action{
        width: 33.3333333333%!important;
    }

 }

@media (min-width: 992px) { 

    #date-input-container{
        width: 33.3333333333%!important;
    }
}

@media (min-width: 1200px) { 
    .col-placeholder {
        display: block;
    }
    #date-input-container,
    .action{
        width: 25%!important;
    }
}

